<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p [%t] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="filteredStdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%-5p [%t] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="kexSiftingFileLogger" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>kex-run-id</key>
            <defaultValue>../test-temp/kex-test.log</defaultValue>
        </discriminator>
        <sift>
            <appender name="kexTestFileLogger-${kex-run-id}" class="ch.qos.logback.core.FileAppender">
                <file>${kex-run-id}</file>
                <append>true</append>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p][%c] - %m%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <logger name="org.vorpal.research" level="ALL" additivity="false">
        <appender-ref ref="kexSiftingFileLogger"/>
        <appender-ref ref="filteredStdout"/>
    </logger>

    <root level="error">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
