#parse("definitions.vm")
import org.jetbrains.research.kex.smt.${solver.toLowerCase()}.${solver}SMTExprFactory
import org.jetbrains.research.kfg.ir.Class
import org.jetbrains.research.kfg.type.ClassType
import org.jetbrains.research.kfg.type.TypeFactory

typealias Bool_ = $Bool
typealias Ptr_ = $Bitvector32
typealias Short_ = $Bitvector32
typealias Char_ = $Bitvector32
typealias Int_ = $Bitvector32
typealias Long_ = $Bitvector64
typealias Float_ = $Float
typealias Double_ = $Double
typealias Memory_ = $Memory< Ptr_ >
typealias Dynamic_ = $valexpr

class $factory : ${solver}SMTExprFactory() {
    companion object {
        class OffsetMap {
            private val inner = mutableMapOf< Class.FieldKey, Int >()
            private var current = 0

            operator fun get(key: Class.FieldKey): Int = inner.getOrPut(key) {
                val value = current
                current += getTypeSize(key.type.kexType)
                value
            }
        }

        private val classOffsets = hashMapOf< Class, OffsetMap >()

        fun getFieldOffset(`class`: Class, field: Class.FieldKey) = classOffsets.getOrPut(`class`, ::OffsetMap)[field]

        fun getTypeSize(type: KexType) = type.bitsize
        fun getTypeSizeExpanded(tf: TypeFactory, type: KexType) = when (type) {
            is KexClass -> {
                val kfgClass = (tf.getRefType(type.`class`) as ClassType).`class`
                kfgClass.fields.fold(0) { acc, field -> acc + field.type.kexType.bitsize }
            }
            else -> type.bitsize
        }
    }

    val ctx = $context()

#macro(generateMakes $type $basetype)
    #set($underlined = "${type}_")
    fun make$type(name: String, fresh: Boolean = false) =
            if (fresh) ${underlined}.makeFreshVar(ctx, name) else ${underlined}.makeVar(ctx, name)
    fun make${type}Const(value: $basetype) = ${underlined}.makeConst(ctx, value)
#end

#generateMakes("Ptr" "Int")
    fun makeNull() = makePtrConst(0)

#generateMakes("Bool", "Boolean")
    fun makeTrue() = makeBoolConst(true)
    fun makeFalse() = makeBoolConst(false)

#generateMakes("Short", "Int")
    fun makeShortConst(value: Short) = makeShortConst(value.toInt())
#generateMakes("Char", "Int")
    fun makeCharConst(value: Char) = makeCharConst(value.toInt())

#generateMakes("Int", "Int")

#generateMakes("Long", "Long")

#generateMakes("Float", "Float")

#generateMakes("Double", "Double")

    fun makeEmptyMemory(id: String) = Memory_.makeFree< Ptr_ >(ctx, id)
//            makeDefaultMemory(id, 0xFF)
    fun makeDefaultMemory(id: String, default: Int) =
        Memory_.makeDefault< Ptr_ >(ctx, id, Byte_.makeConst(ctx, default))

#set($types = ["Bool", "Short", "Char", "Int", "Long", "Float", "Double"])
    fun getVarByTypeAndName(type: KexType, name: String, fresh: Boolean = false) = when(type) {
#foreach($type in $types)
        is Kex${type} -> make${type}(name, fresh)
#end
        is KexClass -> makePtr(name, fresh)
        is KexArray -> makePtr(name, fresh)
        is KexNull -> makePtr(name, fresh)
        else -> unreachable { log.error("Unknown type in ExprFactory: ${ type }") }
    }

    inline fun < T : Dynamic_, reified U : Dynamic_ > switch(value: T, cases: Map< T, U >, default: U) =
        cases.toList().fold(default) { acc, pair -> `if`(value eq pair.first).then(pair.second).`else`(acc) }

    inline fun < reified U : Dynamic_ > switch(cases: Map< Bool_, U >, default: U) =
        cases.toList().fold(default) { acc, pair -> `if`(pair.first).then(pair.second).`else`(acc) }

    inline fun < reified U : Dynamic_ > if_(cond: Bool_) = `if`(cond)

    fun forAll(sortGen: () -> List< Dynamic_ >, func: (List< Dynamic_ >) -> Bool_): Bool_ = forall(ctx, sortGen, func)

    fun forAll(sortGen: () -> List< Dynamic_ >, func: (List< Dynamic_ >) -> Bool_, patternGenerator: (List< Dynamic_ >) -> List< Dynamic_ >): Bool_ =
        forall(ctx, sortGen, func, patternGenerator)
}
