#parse("definitions.vm")
import org.jetbrains.research.kex.smt.${solver.toLowerCase()}.${solver}SMTContext
import kotlin.math.max

class VersionedMemory(val memory: Memory_, val version: Long = 0) {
    companion object {
        @Suppress("UNUSED_PARAMETER")
        fun merge(name: String, default: VersionedMemory, cases: List< Pair< Bool_, VersionedMemory >>): VersionedMemory {
            val maxVersion = cases.maxByOrNull { it.second.version }?.second?.version ?: default.version
            return if (maxVersion == default.version) default else {
                val memories = cases.map { it.first to it.second.memory }
                VersionedMemory(Memory_.merge(default.memory, memories), maxVersion + 1)
            }
        }
    }

    inline fun < reified T : $valexpr > load(ptr: Ptr_) = memory.load< T >(ptr)
    fun load(index: Ptr_, elementSize: Int) = memory.load(index, elementSize)

    fun < T : Dynamic_ > store(index: Ptr_, element: T): VersionedMemory {
        val newMemory = memory.store(index, element)
        return VersionedMemory(newMemory, version + 1)
    }

    operator fun get(index: Ptr_) = memory[index]
    operator fun < T : Dynamic_ > set(index: Ptr_, element: T) = store(index, element)
}

#set($self = "${solver}Context")
class $self : ${solver}SMTContext {
    companion object {
        const val MEMORY_NAME = "__memory__"
        const val PROPERTY_NAME = "__property__"

        fun memoryName(memspace: Int) = "${ MEMORY_NAME }${ memspace }"
        fun propertyName(memspace: Int, name: String) = "${ PROPERTY_NAME }${ name }__${ memspace }"

        fun mergeContexts(name: String, default: $self, choices: Map< Bool_, $self >): $self {
            val maxLocal = max(default.localPointer, choices.map { it.value.localPointer }.maxOrNull() ?: 0)
            val maxStatic = max(default.staticPointer, choices.map { it.value.staticPointer }.maxOrNull() ?: 0)

            val ids = hashSetOf< String >()
            ids.addAll(default.memories.keys)
            choices.values.forEach { ctx ->
                ids.addAll(ctx.memories.keys)
            }

            val memArrays = ids.map { id ->
                val alternatives = choices.map { it.key to it.value.get(id) }
                id to VersionedMemory.merge(name, default.get(id), alternatives)
            }.toMap()
            return $self(default.factory, maxLocal, maxStatic, memArrays)
        }
    }

    val factory: $factory
    private var localPointer: Int
    private var staticPointer: Int
    private var initialMemories = hashMapOf< String, VersionedMemory >()
    private var memories: MutableMap< String, VersionedMemory >

    constructor(factory: $factory, localPointer: Int, staticPointer: Int,
                memories: Map< String, VersionedMemory >) {
        this.factory = factory
        this.localPointer = localPointer
        this.staticPointer = staticPointer
        this.memories = memories.toMutableMap()

        initialMemories[MEMORY_NAME] = VersionedMemory(factory.makeEmptyMemory(MEMORY_NAME))
    }

    constructor(factory: $factory, localPointer: Int, staticPointer: Int)
                : this(factory, localPointer, staticPointer, mapOf())

    constructor(ctx: $self) : this(ctx.factory, ctx.localPointer, ctx.staticPointer, ctx.memories)

    constructor() : this($factory(), 0, 0)

    private fun getInitialMemory(id: String) = initialMemories.getOrPut(id) { VersionedMemory(factory.makeEmptyMemory(id)) }
    fun getMemory(memspace: Int) = memories.getOrPut(memoryName(memspace)) { getInitialMemory(memoryName(memspace)) }
    private fun setMemory(memspace: Int, mem: VersionedMemory) { memories[memoryName(memspace)] = mem }
    private fun setInitialMemory(memspace: Int, mem: VersionedMemory) { initialMemories[memoryName(memspace)] = mem }

    private fun setProperties(memspace: Int, name: String, mem: VersionedMemory) {
        memories[propertyName(memspace, name)] = mem
    }

    private fun setInitialProperties(memspace: Int, name: String, mem: VersionedMemory) {
        initialMemories[propertyName(memspace, name)] = mem
    }

    fun getProperties(memspace: Int, name: String) = memories.getOrPut(propertyName(memspace, name)) {
        getInitialMemory(propertyName(memspace, name))
    }

    private fun get(id: String) = memories.getOrPut(id) { getInitialMemory(id) }


    fun getInitialMemory(memspace: Int) = initialMemories.getOrElse(memoryName(memspace)) { getMemory(memspace) }

    fun getInitialProperties(memspace: Int, name: String) =
        initialMemories.getOrElse(propertyName(memspace, name)) { getProperties(memspace, name) }

    fun readMemory(ptr: Ptr_, memspace: Int, size: TypeSize) = when (size) {
        TypeSize.WORD -> readMemory< Word_ >(ptr, memspace)
        TypeSize.DWORD -> readMemory< DWord_ >(ptr, memspace)
    }

    inline fun < reified T : $valexpr > readMemory(ptr: Ptr_, memspace: Int) = getMemory(memspace).load< T >(ptr)

    fun < T : $valexpr > writeMemory(ptr: Ptr_, value: T, memspace: Int) {
        val mem = getMemory(memspace).store(ptr, value)
        setMemory(memspace, mem)
    }

    fun < T : $valexpr > initializeMemory(ptr: Ptr_, value: T, memspace: Int) {
        val mem = getInitialMemory(memoryName(memspace)).store(ptr, value)
        setInitialMemory(memspace, mem)
    }

    fun readProperty(ptr: Ptr_, memspace: Int, name: String, size: TypeSize) = when (size) {
        TypeSize.WORD -> readProperty< Word_ >(ptr, memspace, name)
        TypeSize.DWORD -> readProperty< DWord_ >(ptr, memspace, name)
    }

    inline fun < reified T : $valexpr > readProperty(ptr: Ptr_, memspace: Int, name: String) =
            getProperties(memspace, name).load< T >(ptr)

    fun < T : $valexpr > writeProperty(ptr: Ptr_, memspace: Int, name: String, prop: T) {
        val mem = getProperties(memspace, name).store(ptr, prop)
        setProperties(memspace, name, mem)
    }

    fun < T : $valexpr > initializeProperty(ptr: Ptr_, memspace: Int, name: String, prop: T) {
        val mem = getInitialMemory(propertyName(memspace, name)).store(ptr, prop)
        setInitialProperties(memspace, name, mem)
    }

    @Suppress("UNUSED_PARAMETER")
    fun getLocalPtr(memspace: Int, size: TypeSize): Ptr_ =
            factory.makePtrConst(localPointer).also { localPointer += size.int }

    fun getLocalArray(memspace: Int, length: Int, actualLength: Int_, elementSize: TypeSize): Ptr_ =
            factory.makePtrConst(localPointer).also {
                val totalSize = length * elementSize.int
                localPointer += totalSize
                writeProperty(it, memspace, "length", actualLength)
            }


    @Suppress("UNUSED_PARAMETER")
    fun getStaticPtr(memspace: Int, size: TypeSize): Ptr_ =
            factory.makePtrConst(localPointer).also { localPointer += size.int }

    fun getStaticArray(memspace: Int, length: Int, actualLength: Int_, elementSize: TypeSize): Ptr_ =
            factory.makePtrConst(localPointer).also {
                val totalSize = length * elementSize.int
                localPointer += totalSize
                writeProperty(it, memspace, "length", actualLength)
            }

    fun switchOn(name: String, contexts: Map< Bool_, ${solver}Context >): ${solver}Context {
        val merged =  mergeContexts(name, this, contexts)
        this.memories = merged.memories
        this.localPointer = merged.localPointer
        this.staticPointer = merged.staticPointer
        return this
    }
}