<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5p] - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="kexFileLogger" class="ch.qos.logback.core.FileAppender">
        <file>kex.log</file>
        <param name="Append" value="false" />
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p][%c] - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.jetbrains.research" level="ALL" additivity="false">
        <appender-ref ref="kexFileLogger"/>
        <appender-ref ref="stdout"/>
    </logger>

    <root level="debug">
        <appender-ref ref="stdout"/>
    </root>
</configuration>