<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5p] - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="kexFileLogger" class="ch.qos.logback.core.FileAppender">
        <file>${kex.log.name}</file>
        <param name="Append" value="false" />
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p][%c] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="asyncFileLogger" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="kexFileLogger"/>
    </appender>
    <appender name="asyncStdout" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="stdout"/>
    </appender>

    <logger name="org.jetbrains.research" level="ALL" additivity="false">
        <appender-ref ref="asyncFileLogger"/>
        <appender-ref ref="asyncStdout"/>
    </logger>

    <root level="ALL">
        <appender-ref ref="asyncStdout"/>
    </root>
</configuration>